/*login form styles*/
#login-form {
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    text-align: center;
}

#login-form input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*chat form styles*/
#chat-area {
    display: none;
}

#chat-window{
    border-style: solid;
    height: 300px;
    overflow-y: auto;
}

/*message specific styles*/
.message img {
    border-radius: 40px;
    display: inline;
}

.message div {
    display: inline-block;
}

.message-holder {
    border-style: solid;
    border-radius: 20px;
    padding: 10px;
    max-width: 300px;
}