/*login form styles*/
#login-form {
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    text-align: center;
}

#login-form input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*chat form styles*/
#chat-area {
    display: none;
}

#chat-window{
    border-style: solid;
    max-height: 250px;
    overflow-y: auto;
}