body {
    padding: 2%;
}

#main-container {
    /*display: none;*/
}

/*login form styles*/
#login-form {
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    text-align: center;
}

#login-form input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*chat form styles*/
#chat-window {
    border-style: solid;
    height: 300px;
    overflow-y: auto;
    width: 77%;
    display: inline-block;
}

#input-message {
    width: 500px;
}

/*message specific styles*/
.user-info img {
    border-radius: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

.user-info {
    /*border-style: solid;*/
    width: 15%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.message {
    border-style: solid;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    max-width: 400px;
    display: inline-block;
    vertical-align: bottom;
    word-wrap: break-word;
}

#user-list {
    border-style: solid;
    width: 20%;
    display: inline-block;
    vertical-align: top;
    height: 300px;
    overflow-y: auto;
}

.user {
    border-style: solid;
    height: 40px;
}

.user img {
    display: inline-block;
}

.user div {
    display: inline-block;
    vertical-align: top;
    padding: 10px 0px 0px 0px;
}

/*.user-info:after {
    content: "\00a0";
    display: inline-block;
    position: relative;
    border-style: solid;
    width: 0;
    height: 0;
    border-width: 10px 20px 10px 0px;
    border-color: transparent #000 transparent #000;
}*/

.message-content {
    /*border-style: solid;*/
}

.alt {
    background-color: #DCDCDC;
}

/*game area*/
#game-area {
    border-style: solid;
    height: 400px;
}

.player {
    border-style: solid;
}

#player-1{
    color: red;
}

#player-2{
    color: black;
}

#player-3{
    color: blue;
}

#player-4{
    color: orange;
}